.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

.vscode
Berry Game New
homeworktest
hwEnv
Lab3a-QuizGame
NewScriptsFun
Previous weeks
SnakeGame
w4
w5
w6
w7
w8
w9
w10/app.py
w10/templates
w10/static